
<div class="wrapper">
    <app-header></app-header>

    <app-main-section></app-main-section>

    <section class="about-me">
        <h1>About me</h1>
        <div class="about-text">
            <div class="line"></div>
            <p>
                The long barrow was built on land previously inhabited in the Mesolithic period. It consisted of a sub-rectangular earthen tumulus, estimated to have been 15 metres (50 feet) in length, with a chamber built from sarsen megaliths on its eastern end. Both inhumed and cremated human remains were placed within this chamber during the Neolithic period, representing at least nine or ten individuals.
            </p>
        </div>
    </section>

    <app-project-section></app-project-section>

    <section class="social-medias">
        <h1>Social media</h1>
        <div class="medias">
            <a href="#" class="media">
                <span>GMAIL</span>
                <img src="images/gmail.svg" alt="linkedin">
            </a>

            <a href="#" class="media">
                <span>LINKEDIN</span>
                <img src="images/linkedin.svg" alt="linkedin">
            </a>

            <a href="#" class="media">
                <span>GITHUB</span>
                <img src="images/github.svg" alt="linkedin">
            </a>
        </div>
    </section>
</div>
