<section>
    <h1>Projects</h1>
    <div class="projects">
        <div class="project">
            <span class="project-name">TITLE PROJECT</span>
            <div class="tags">
                <span>POSGRESQL</span>
                <span>SQL</span>
                <span>PYTHON</span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit autem provident, consequatur mollitia blanditiis vel architecto, in iure.
            </p>
        </div>


        <div class="project">
            <span class="project-name">TITLE PROJECT</span>
            <div class="tags">
                <span>POSGRESQL</span>
                <span>SQL</span>
                <span>PYTHON</span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit autem provident, consequatur mollitia blanditiis vel architecto, in iure.
            </p>
        </div>



        <div class="project">
            <span class="project-name">TITLE PROJECT</span>
            <div class="tags">
                <span>POSGRESQL</span>
                <span>SQL</span>
                <span>PYTHON</span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit autem provident, consequatur mollitia blanditiis vel architecto, in iure.
            </p>
        </div>

    </div>
</section>